.profile-view {
  background-color: var(--color-primary);
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile-view__header {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1rem;
  height: 5rem;

  h1 {
    color: var(--color-white);
    font-size: var(--text-large);
    font-weight: 600;
    margin: 0;
  }

  .profile-view__header__actions {
    display: flex;
    gap: 0.7rem;
  }
}
.profile-view__container {
  z-index: 2;
  margin-top: 20%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-surface-a0);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.profile-view__container__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  

  h2 {
    color: var(--color-white);
    font-size: var(--text-large);
    font-weight: 600;
    margin: 0.5rem 0;
  }
}

.profile-view-layout {
  margin: 2rem 0;
  width: 100%;
}