.modal-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: var(--color-surface-a20);
  border: none;
  border-radius: 1rem;
  padding: 2rem;
}

.modal-container--close-button {
  position: absolute;
  top: 0.7rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer; 
}