*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
}

main {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media screen and (min-width: 1025px) {
  #root {
    flex-direction: row;
  }

}
