.header{
  height: 60px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: #ffffff;
  font-weight: bold;
  font-size: var(--text-2xl);

  img {
    height: 2rem;
    width: auto;
  }
}